@import url("https://fonts.googleapis.com/css?family=VT323");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji
}

body {
  height: 100vh;
  background: slategray;
}

.example {
  font-family: "VT323", monospace;
  font-size: 24px;
  max-width: 1500px;
  margin: 0 auto;
  padding: 2ch;
  text-align: center;
}

.btn {
  font-family: "VT323", monospace;
  background-color: #7c7c7c;
  border-bottom-width: 6px;
  border-color: rgba(0, 0, 0, 0.5);
  border-left-width: 6px;
  border-right-width: 6px;
  border-top-width: 6px;
  border-style: inset;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 2.2rem;
  margin: 1rem;
  min-width: 200px;
  padding: 0.5rem;
  text-transform: uppercase;
  width: auto;
}

.btn:focus,
.btn:hover {
  background-color: #bcbcbc;
}

.btn.primary {
  background-color: #881400;
}

.btn.primary:focus,
.btn.primary:hover {
  background-color: #a81000;
}

.btn.secondary {
  background-color: #005800;
}

.btn.secondary:focus,
.btn.secondary:hover {
  background-color: #006800;
}

.btn.tertiary {
  background-color: #0000bc;
}

.btn.tertiary:focus,
.btn.tertiary:hover {
  background-color: #0000fc;
}

.form-input {
  font-family: "VT323", monospace;
  background: #7c7c7c;
  border: 6px inset rgba(0, 0, 0, 0.5);
  border-radius: 0;
  color: white;
  font-size: 2.2rem;
  margin: 1rem;
  min-width: 200px;
  padding: 0.5rem;
  text-transform: uppercase;
  width: auto;
}

.form-input:focus,
.form-input:hover {
  background: #ffffff;
  color: #0000bc;
}

.form-input:focus {
  outline: none;
}

input[type="text"] {
  font-size: 2.2rem;
  padding: 0.5rem;
  margin: 0 0.5rem;
}

input[type="text"]:focus,
input[type="text"]:hover {
  border-color: #7c7c7c;
}

button[type="submit"] {
  font-size: 2.2rem;
  padding: 0.5rem;
  margin: 1rem;
  min-width: 200px;
  text-transform: uppercase;
}
